.Admin {
  text-align: center;
}

/*local host styles*/
.makeStyles-appBarShift-3 {
	width: calc(100% - 270px) !important;
}
.makeStyles-drawerOpen-7 {
	width: 270px !important;
}

/*remote host styles*/
.jss3 {
	width: calc(100% - 270px) !important;
}
.jss7 {
	width: 270px !important;
}

.MuiPaper-root.MuiDrawer-paper {
	background-color: #f0f0f0 !important;
}

.MuiToolbar-root.MuiToolbar-regular.MTableToolbar-root-165.MuiToolbar-gutters {
	background-color: #c4c2c2 !important;
}

.MuiTableCell-stickyHeader {
	background-color: #c4c2c2 !important;
}