.Admin {
  text-align: center;
}

.makeStyles-appBarShift-3 {
	width: calc(100% - 270px) !important;
}

.makeStyles-drawerOpen-7 {
	width: 270px !important;
}

.MuiPaper-root.MuiDrawer-paper.makeStyles-drawerOpen-7.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.MuiPaper-elevation0 {
	background-color: #f0f0f0 !important;
}

.MuiToolbar-root.MuiToolbar-regular.MTableToolbar-root-165.MuiToolbar-gutters {
	background-color: #c4c2c2 !important;
}

.MuiTableCell-stickyHeader {
	background-color: #c4c2c2 !important;
}