.Admin {
  text-align: center;
}

.MuiPaper-root.MuiDrawer-paper {
	background-color: #f0f0f0 !important;
}

.MuiToolbar-root.MuiToolbar-regular.MTableToolbar-root-165.MuiToolbar-gutters {
	background-color: #c4c2c2 !important;
}

.MuiTableCell-stickyHeader {
	background-color: #bdbbbb !important;
}