@font-face {
  font-family: "Tauri";
  src: url(../fonts/Tauri/Tauri-Regular.ttf);
}

@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato/Lato-Regular.ttf);
}

.Client h1, h2, h3, h4, h5, h6, span {
  font-family: "Tauri" !important;
}

.Client body {
  font-family: "Lato" !important;  
}

.Client {
  background: 
	linear-gradient(
		rgba(245, 240, 240, 0.3),
		rgba(185, 185, 185, 0.45)
		),
  url(../images/apo-island.jpg);
	background-size: cover;
	background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
}

.MuiTab-textColorPrimary.Mui-selected {
  background-color: #bbf3ff !important;
}

.content-container {
  background-color: #f1f1f1;
  opacity: .9;
}